[submodule "src/thirdparts/lua"]
	path = src/thirdparts/lua
	url = git://github.com/LuaDist/lua.git
[submodule "src/thirdparts/rapidjson"]
	path = src/thirdparts/rapidjson
	url = git://github.com/miloyip/rapidjson.git
